<section class="blog">
  <div class="blog-container">
    <div class="blog-content">
      <p class="blog-subtitle">April 16 2020</p>
      <h2 class="blog-title">Blog Post One</h2>
      <p class="blog-description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button type="button" class="blog-btn">Read Our Blog</button>
    </div>
    <img src="./img/blog/Rectangle.jpg" alt="daily" width="680px" />
  </div>
</section>
