<section class="cases-section sectoion">
  <div class="cases-container container">
    <h2 class="section-title cases">Business Cases</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque,
      obcaecati.
    </p>
    <ul class="section-cases-list">
      <li class="section-item cases">
        <img
          class="section-img"
          src="./img/cases/img-1.jpg"
          alt="Picture of monitor"
          width="320"
          height="214"
        />
      </li>
      <li class="section-item cases">
        <img
          class="section-img"
          src="./img/cases/img-2.jpg"
          alt="Triple screen of mobole phone"
          width="320"
          height="214"
        />
      </li>
      <li class="section-item cases">
        <img
          class="section-img"
          src="./img/cases/img-3.jpg"
          alt="Mobile phone with a certain app"
          width="320"
          height="214"
        />
      </li>
      <li class="section-item cases">
        <img
          class="section-img"
          src="./img/cases/img-4.jpg"
          alt="Mobile phone with a certain app"
          width="320"
          height="214"
        />
      </li>
      <li class="section-item cases">
        <img
          class="section-img"
          src="./img/cases/img-5.jpg"
          alt="Mobile phone with a certain app"
          width="320"
          height="214"
        />
      </li>
      <li class="section-item cases">
        <img
          class="section-img"
          src="./img/cases/img-6.jpg"
          alt="Mobile phone with a certain app"
          width="320"
          height="214"
        />
      </li>
      <li class="section-item cases">
        <img
          class="section-img"
          src="./img/cases/img-7.jpg"
          alt="Mobile phone with a certain app"
          width="320"
          height="214"
        />
      </li>
      <li class="section-item cases">
        <img
          class="section-img"
          src="./img/cases/img-8.jpg"
          alt="Mobile phone with a certain app"
          width="320"
          height="214"
        />
      </li>
    </ul>
  </div>
</section>
