<section class="footer">
    <footer class="contacts">
      <div class="container">
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-link">
              <svg width="31" height="35" class="footer-icon">
                <use href="../img/footer/symbol-defs.svg#icon-faceebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-link">
              <svg width="31" height="35" class="footer-icon">
                <use href="../img/footer/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-link">
              <svg width="31" height="35" class="footer-icon">
                <use href="../img/footer/symbol-defs.svg#icon-yotube"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-link">
              <svg width="31" height="35" class="footer-icon">
                <use href="../img/footer/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="section-text">
          Copyright &copy; 2021 - FinanceLedger
        </p>
      </div>
    </footer>
</section>
