<section class="team">
  <p class="">Who we are</p>
  <h2 class="team-title">Our Professional Team</h2>
  <p class="team-description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="team-list">
    <li>
      <img class="team-photo" src="./img/team/john.jpg" alt="" />
      <h3 class="team-name">John Doe</h3>
      <p class="team-name-text">President</p>
      <ul class="team-social-links">
        <li>
          <a href="">
            <svg width="35" hight="35">
              <use href="../img/team/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="35" hight="35">
              <use href="../img/team/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="40" hight="35">
              <use href="../img/team/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="35" hight="35">
              <use href="../img/team/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <img class="team-photo" src="./img/team/jane.jpg" alt="" />
      <h3 class="team-name">Jane Doe</h3>
      <p class="team-name-text">Vice President</p>
      <ul class="team-social-links">
        <li>
          <a href="">
            <svg width="35" hight="35">
              <use href="../img/team/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="35" hight="35">
              <use href="../img/team/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="40" hight="35">
              <use href="../img/team/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="35" hight="35">
              <use href="../img/team/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <img class="team-photo" src="./img/team/steve.jpg" alt="man" />
      <h3 class="team-name">JSteve Smith</h3>
      <p class="team-name-text">Marketing Head</p>
      <ul class="team-social-links">
        <li>
          <a href="">
            <svg width="35" hight="35">
              <use href="../img/team/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="35" hight="35">
              <use href="../img/team/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="40" hight="35">
              <use href="../img/team/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="35" hight="35">
              <use href="../img/team/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>
